jax==0.4.35
jax-cuda12-pjrt==0.4.35
jax-cuda12-plugin==0.4.35
jaxlib==0.4.35
ml_dtypes==0.5.4
multipledispatch==1.0.0
numpy==2.4.4
numpyro==0.15.0
nvidia-cublas-cu12==12.4.5.8
nvidia-cuda-cccl-cu12==12.9.27
nvidia-cuda-cupti-cu12==12.4.127
nvidia-cuda-nvcc-cu12==12.4.131
nvidia-cuda-nvrtc-cu12==12.4.127
nvidia-cuda-runtime-cu12==12.4.127
nvidia-cudnn-cu12==9.8.0.87
nvidia-cufft-cu12==11.2.6.59
nvidia-cusolver-cu12==11.6.4.69
nvidia-cusparse-cu12==12.3.1.170
nvidia-nccl-cu12==2.19.3
nvidia-nvjitlink-cu12==12.4.127
nvidia-nvshmem-cu12==3.6.5
opt_einsum==3.4.0
packaging==26.0
pip==26.0.1
scipy==1.17.1
setuptools==82.0.1
tqdm==4.67.3
wheel==0.46.3
